<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>Aurelia</title>
    <link rel="stylesheet" href="jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="styles/styles.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
</head>

<body aurelia-app="">

<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script src="jspm_packages/npm/bluebird@3.4.1/js/browser/bluebird.min.js"></script>
<script>
    System.import('aurelia-bootstrapper');
</script>
</body>
</html>